body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(18, 27, 13);
    display: grid;
    margin: 0%;
}

h1 {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: repeating-radial-gradient(closest-side at 20px 20px, rgb(114, 58, 21), red, rgb(114, 58, 21));
    justify-self: center;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: rgb(79, 79, 79);
    opacity: 70%;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

a:hover {
    color: blue;
}

p {
    background-color: rgb(224, 224, 224);
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    width: 1rem;
    padding-inline: 1rem;
    padding-block: 0.85rem;
    margin-left: 1rem;
}

.racerContainer {
    background-color: rgb(114, 58, 21);
}

#container {
    display: flex;
    align-items: center;
}

h2 {
    padding-inline-start: 2rem;
}

input {
    position: absolute;
    left: 9vw;
}

#start {
    color: black;
    font-size: x-large;
    font-family: inherit;
    background-color: rgb(250, 2, 2);
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    width: 40%;
    padding-inline: 1rem;
    padding-block: 0.85rem;
    justify-self: center;
    margin-block: 1rem;
}

#start:hover {
    background-color: rgb(253, 24, 24);
    transform: scale(1.1);
}

#add {
    position: relative;
    color: black;
    background-color: yellow;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    width: 4rem;
    padding-inline: 1rem;
    padding-block: 0.85rem;
    /* bottom: 5px; */
    left: 5px;
}

#add:hover {
    background-color: rgb(255, 234, 0);
    transform: scale(1.08);

}

img {
    position: relative;
    max-height: 100px;
    height: 8vh;
    /* animation-iteration-count: infinite; */
}

@keyframes racing {
    0% {
        left:0%;
    }
    50% {
        left: 75%;
    }

}