body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(18, 27, 13);
    display: grid;
    margin: 0%;
}

h1 {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: repeating-radial-gradient(closest-side at 20px 20px, rgb(114, 58, 21), red, rgb(114, 58, 21));
    justify-self: center;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: rgb(79, 79, 79);
    opacity: 70%;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

a:hover {
    color: blue;
}

p {
    background-color: rgb(224, 224, 224);
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    width: 1rem;
    padding-inline: 1rem;
    padding-block: 0.85rem;
    margin-left: 1rem;
}

#card {
    position: fixed;
    top: 20vh;
    left: 30vw;
    background-color: black;
    color: antiquewhite;
    border-radius: 20px;
    width: 40vw;
    height: 30vh;
    animation: bounceIn 2s linear;
    z-index: 99;
}

#winner {
    text-align: center;
    font-size: 4vw;
    padding: 0px;
    margin-top: 3rem;
    z-index: 98;
}

#reset {
    position: absolute;
    font-family: inherit;
    font-size: 2vw;
    bottom: 5vh;
    left: calc(50% - 30px);
    border: none;
    border-radius: 5px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    background-color: aquamarine;
}

#blur {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.3;
    z-index: 98;
}

.racerContainer {
    background-color: rgb(114, 58, 21);
}

#container {
    display: flex;
    align-items: center;
}

h2 {
    padding-inline-start: 2rem;
    color: aliceblue;
}

label {
    color: aliceblue;

}

input, label {
    margin-inline: 0.5rem;
}

#start {
    color: black;
    font-size: x-large;
    font-family: inherit;
    background-color: rgb(250, 2, 2);
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    width: 40%;
    padding-inline: 1rem;
    padding-block: 0.85rem;
    justify-self: center;
    margin-block: 1rem;
}

#start:hover {
    background-color: rgb(253, 24, 24);
    transform: scale(1.1);
}

#add {
    color: black;
    background-color: yellow;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    width: 3rem;
    padding-block: 0.85rem;
    /* bottom: 5px; */
}

#add:hover {
    background-color: rgb(255, 234, 0);
    transform: scale(1.08);

}

img {
    position: relative;
    height: 8vh;
}

@keyframes racing {
    0% {
        left:0%;
    }
    100% {
        left: calc(100vw - ((8vh * 1.637) + 20px));
    }

}

@keyframes bounceIn {
    0% { 
       opacity: 0; 
       transform: scale(.3);
    }
    50% { 
       opacity: 1;
       transform: scale(1.05);
    }
    70% {
       transform: scale(.9);
    }
    100% {
       transform: scale(1);
    }
 } 